<!-- index.html -->
{{template "header.html" .}}

<main>
    {{$page := .}}
    {{ $user := .Id }}
    {{ $pre := .Previous }}
    {{ $next := .Next }}
    {{ range $post := .Posts}}
    <div class="post-info">
        <div class="div post" id="div{{$post.Id}}">
            <span id="post{{.Id}}"></span>
            {{ if eq $user $post.User.Id }}
            <a href="/posts/delete/{{$post.Id}}" onclick="return confirm(`Are you sure you want to delete this post?`)">
                <svg class="edit-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-trash-2">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                </svg>
            </a>
            <label for="update-post-check">
                <svg class="edit-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-edit">
                    <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                    <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                </svg>
            </label>
            <input  class="checkbox update-post-check" type="checkbox" name="" id="update-post-check">
            <fieldset class="add-fieldset">
                <form action="/posts/update" method="post" enctype="multipart/form-data" id="likesForm">
                    <div>
                        <label class="lab-add">Title:</label>
                        <input maxlength="200" class="add-title add-input " type="text" value="{{.Title}}" name="title"
                            placeholder="Title..." required>
                    </div>
                    <div>
                        <label for="" class="lab-add">Body:</label>
                        <textarea maxlength="1500" class="add-body add-input " name="body" placeholder="Text..."
                            required>{{ .Body }}</textarea>
                    </div>
                    <div>
                        <label for="" class="lab-add">Select Image (optional):</label>
                        <input type="file" id="" value="" name="image"
                            accept="image/png, image/jpeg,  image/webp ,  image/gif , image/svg , image/jpg">
                    </div>
                    <div>
                        <input type="checkbox" name="oldimage" id="oldimage" value="oldimage">
                        <label for="oldimage">delete old image</label>
                    </div>
                    <input  type="hidden" name="post_id" value="{{ $post.Id }}">
                    <div>
                        <input type="submit" value="update" class="btn-button btn add-button">
                    </div>
                </form>
            </fieldset>
            {{ end }}
            <div>
                <a href="/#post{{.Id}}">
                    <svg class="left-post" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-arrow-left">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>

                </a>

            </div>
            {{range .Categories}}
            <label class="post-cat">{{.CatName}}</label>
            {{end}}
            <div id="h3{{$post.Id}}" class="user-post">
                <a class="a-user-post" href="#{{.User.Id}}"> <img class="img-user-post"
                        src="/images/pics/{{.User.Image}}" alt="pfp">
                    <h3>{{.User.UserName}}</h3>
                    <h6 class="duration-post"> &bull; {{ .Duration }} ago </h6> <br>
                </a>

            </div>
            <div>
                <h1 class="post-title">{{.Title}}</h1>
                <p class="post-body">
                    {{ .Body }}
                </p>
                {{if .Image}}<img src="/images/posts/{{.Image}}" class="post-image" alt="post image">{{end}}
            </div>

            <form action="/posts/likes" method="POST" onsubmit="AfterSubmit(event)" id="likesForm">
                <div class="likes">
                    <button name="like" value="1" class="btn-like">
                        <svg class=" {{ if $post.Did }} {{ if $post.Liked }} like-blue {{ end}} {{ end }}"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-thumbs-up">
                            <path
                                d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
                            </path>
                        </svg>
                        <span class="like-number">{{ $post.Like }}</span>
                    </button>
                    <button name="like" value="0" class="btn-like">
                        <svg class="{{ if $post.Did }} {{ if $post.Liked }}{{else}} like-red {{ end }} {{ end }}"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-thumbs-down">
                            <path
                                d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17">
                            </path>
                        </svg>
                        <span class="like-number">{{ $post.Dislike }}</span>
                    </button>
                </div>
                <input type="hidden" name="post_id" value="{{ $post.Id }}" required>
                <input type="hidden" name="page" value="posts">
            </form>
            <div>
                <div class="add-comment-post">
                    <form action="/comments/store" method="post" id="likesForm" class="add-comment-form">
                        <input  type="hidden" name="user_id" value="{{ $page.Id }}" required>
                        <input  type="hidden" name="post_id" value="{{ .Id }}" required>
                        <input maxlength="1500" class="input-comment" type="text" value="" name="body"
                            placeholder="Write your comment..." required>
                        <button type="submit" class="btn-like btn-send">
                            <svg class="send" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                                <line x1="22" y1="2" x2="11" y2="13"></line>
                                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>




        <div class="comments">
            <h2>Comments</h2>
            {{ range $comment := .Comments }}
            <div id="comment{{$comment.Id}}" class="comment">

                <div class="user-post">
                    <a class="a-user-post" href="#{{.User.Id}}"> <img class="img-user-post"
                            src="/images/pics/{{$comment.User.Image}}" alt="pfp">
                        <h3>{{$comment.User.UserName}}</h3>
                        <h6 class="duration-post"> &bull; {{ .Duration }} ago </h6> <br>
                    </a>
                </div>

                <p id="p{{$comment.Id}}" name="body" disabled class="post-body">
                    {{ $comment.Body }}
                </p>
                <form action="/comments/likes" method="POST" onsubmit="AfterSubmit(event)">
                    <div class="likes-comment">
                        <button name="like" value="1" class="btn-like">
                            <svg class=" {{ if $comment.Did }} {{ if $comment.Liked }} like-blue {{ end}} {{ end }}"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-thumbs-up">
                                <path
                                    d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3">
                                </path>
                            </svg>
                            <span class="like-number">{{ $comment.Like }}</span>
                        </button>
                        <button name="like" value="0" class="btn-like">
                            <svg class=" {{ if $comment.Did }} {{ if $comment.Liked }}{{else}} like-red {{ end }} {{ end }}"
                                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-thumbs-down">
                                <path
                                    d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17">
                                </path>
                            </svg>
                            <span class="like-number">{{ $comment.Dislike }}</span>
                        </button>
                    </div>
                    <input  type="hidden" name="user_id" value="{{ $page.User.Id }}" required>
                    <input  type="hidden" name="comment_id" value="{{ $comment.Id }}" required>
                    <input  type="hidden" name="post_id" value="{{ $post.Id }}" required>
                </form>
            </div>
            {{ else }}
            <div>No comments yet...</div>
            {{ end }}
            <div class="chev">
                {{ if ne $pre "0" }}
                <a href="{{ $pre }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-left">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
                </a>
                {{ end }}
                {{ if .Comments }}
                <a href="{{ $next }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-chevron-right">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
    </div>
    {{end}}

</main>

{{template "footer.html" .}}